RewriteEngine On
<IfModule mod_rewrite.c>
Options -MultiViews
RewriteEngine On
#RewriteBase /path/to/app
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
</IfModule>
AddDefaultCharset UTF-8
#Order allow,deny
#Deny from all
#Options -Indexes
#AuthUserFile /home/chemin/var/www/chemin_vers_htpasswd/.htpasswd
## les logins et mots de passe 
#AuthGroupFile /home/chemin/var/www/chemin_vers_htgroup/.htgroup
## les groupes d'utilisateurs
#AuthName "Administrator required"
#AuthType Basic
#<Limit GET POST>
#require group admin
## seul le groupe admin est autorisé
## peut être remplacé par 
## Require valid-user
## s'il n'y a pas de gestion de groupes
#
##</Limit>
#<Files *>
#Deny from all
#</Files>