RewriteEngine On
<IfModule mod_rewrite.c>
Options -MultiViews
Options -Indexes
RewriteEngine On
#RewriteBase /path/to/app
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ admin.php [QSA,L]
</IfModule>
DirectoryIndex admin.php /erreurs/erreur_403.php
ErrorDocument 403 /maintenance.php
Options -Indexes


AuthType Basic
AuthName "Vous etes deconnecte"
AuthUserFile I:\AppsPortable\UwAmp\www\silexAgisse\web\admin\.htpasswd
#AuthUserFile C:\wamp64\www\agisse\agisse\web\admin\.htpasswd
require valid-user
### log pour valid-user ###
#log: admin
#mdp: Arykover

### autoriser une adresse ip en particulier###
### ATTENTION, la déconnexion ne fonctionnera pas si vous êtes connecté avec une adresse ip autorisée
#require ip 192.168.100.1
#satisfy any		
<FilesMatch "\.(htaccess|htpasswd)$">
order allow,deny
deny from all
</FilesMatch>
